@import "config";
@import "utilities";
@import "header";

// General Styles

:root {   
    font-size: 6.25%;
}
    

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// Main page
#main {
    margin-top: $nav-bar-height;
    padding: 10rem;
}





