@import "config";
@import "utilities";

// General Styles

:root {   
    font-size: 6.25%;
}
    

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-size: 16rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// Navbar
#navbar {
    height: 160rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Amanda Signature', sans-serif;
    padding: 5rem 10rem;
    // background: linear-gradient(41deg, rgba(181,23,228,1) 15%, rgba(222,156,242,1) 65%, rgba(193,153,10,1) 100%);
    // background-color: $banner-bg-color1;
    background: linear-gradient(135deg, $banner-bg-color1 0%, $banner-bg-color2 100%);
    border-bottom: #333 solid 1px;
    color: #000;
}

#navbar-top {
    .nav-title {
        background-image: url('../img/logo/stars.png');
        background-repeat: no-repeat;
        background-size: 70% 100%;
        background-position: center;
        text-align: center;
        filter: brightness(130%);
        filter: sepia(40%);
        padding: 5rem 0;
        font-size: 25px;
        text-shadow: 0 0  8px #fff000;
        font-weight: 200;
    }
}

#navbar-middle{
    display: flex;
    justify-content: space-between;


    .nav-hamburger-container {
        width: 33%;
    }

    .nav-img-container {
        width: 33%;

        .img-container {
            background-image: url("../img/logo/castle-bag.jpeg");
            height: 70rem;
            width: 70rem;
            border-radius: 50%;
            margin: auto;
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: 53% 23%;
            border: #fff solid 2px;
        }
    }

    .nav-links-container{
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-links {
            display: flex;
            justify-content: space-around;
            width: 80%;
            padding: 0 15rem 0 0;
        }
    }
}

#navbar-bottom {
    .logo-tagline {
        text-align: center;
        .logo-em {
            color: #f20c68;
            font-size: 20px;
        }
    }
}





